# E-commerce Purchases Pandas Project

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\ashu9\Downloads\Ecommerce Purchases.txt")

### top 10 rows of the dataframe

In [ ]:

df.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

### below 10 row of the datasets

In [ ]:

df.tail(10)

### check datatype of each column

In [ ]:

df.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

### check null values in daasets

In [ ]:


df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

### How many column and rows in the datasets

In [ ]:


df.shape

(10000, 14)

### highest and lowest puchase price

In [ ]:

print("Highest Purchase Price:",df['Purchase Price'].max())
print("lowest price",df["Purchase Price"].min())

Highest Purchase Price: 99.99
lowest price 0.0

### aversge purchase price

In [ ]:

print("average purchase price",df["Purchase Price"].mean())

average purchase price 50.347302

### how many people have french 'fr' as thier language ?

In [ ]:


df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [24]:
df[df["Language"]=="fr"]["Language"].count()

np.int64(1097)

### job title contains engineer

In [ ]:

len(df[df["Job"].str.contains('engineer',case=False)])

984

In [34]:
df[df["IP Address"]=='132.207.160.22']["Email"]

2    amymiller@morales-harrison.com
Name: Email, dtype: object

### How many People have master Card As thier credit card provider and made a purchse above 50

In [ ]:


df[(df["CC Provider"].str.contains("Mastercard",case=False)) & (df["Purchase Price"]>50)].count()

Address             405
Lot                 405
AM or PM            405
Browser Info        405
Company             405
Credit Card         405
CC Exp Date         405
CC Security Code    405
CC Provider         405
Email               405
Job                 405
IP Address          405
Language            405
Purchase Price      405
dtype: int64

### find email of the Person with the following Credit Card number

In [ ]:

df[df["Credit Card"]==4664825258997302]["Email"]

9992    bberry@wright.net
Name: Email, dtype: object

### How many people purchase during am and how many peole purchase during pm

In [ ]:


AM=len(df[df["AM or PM"]=="AM"])
print("number of purchase in am",AM)

PM=len(df[df["AM or PM"]=="PM"])
print("number of purchase in am",PM)

number of purchase in am 4932
number of purchase in am 5068

In [43]:

df.columns
df["CC Exp Date"]

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

### how many people have a credit card that expires in 2020

In [ ]:

df[df["CC Exp Date"].apply(lambda x:x[3:]=='20')]["Lot"].count()

np.int64(988)

### Find top 5 most popular email providers(eg. gamol.com, yahoo.com etc....)

In [ ]:

list1=[]
for i in df["Email"]:
    list1.append(i.split('@')[1])

In [62]:
df["2nd part of email"]=list1

df["2nd part of email"].value_counts().head()

2nd part of email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

### Find top 5 most popular email providers(eg. gamol.com, yahoo.com etc....) Method 2nd

In [ ]:


df["Email"].apply(lambda x:x.split('@')[1]).value_counts().head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64